.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("https://github.com/ASEAN-Build-The-Earth/AseanBTE-Website/blob/main/Assets/Images/minecraft_builds/MC_LibraryBuild.png?raw=true");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.heroTitle {
  text-shadow: 3px 4px 7px black;
 }

 html[data-theme='light'] .heroTitle {
  color: white; /* overwrite banner text for light theme */
 }




