.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("https://github.com/ASEAN-Build-The-Earth/AseanBTE-Website/blob/main/Assets/Images/minecraft_builds/MC_LibraryBuild.png?raw=true");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 30%;
  background-size: cover;
  background-color: rgb(208, 228, 245);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}


.buttons_div {
  display: flex;
  align-items: center;
  justify-content: center;

}

.shadowed {
  text-shadow: 3px 4px 7px black;
}

html[data-theme='light'] .title {
color: white; /* overwrite banner text for light theme */
}

.button {
  box-shadow: 3px 4px 7px black;
  background-color: rgb(248, 223, 0);
  border-color: rgb(0, 0, 0);
  
}

.button:hover{ 
  background-color: rgb(223, 248, 0);
  border-color: rgb(0, 0, 0);
}

.button:active {
  background-color: rgb(146, 245, 65);
  border-color: rgb(0, 0, 0);
}


