.link_redirector {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.button_container {
    width: 100%;
    cursor: pointer;
    background-color: var(--ifm-card-background-color);
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

.button_div { 
    width: 100%;
    position: relative; 
    display: inline-block; 
}
.button_div:hover .buttons_overlay { 
    /* lerp overlay in as animation */
    width: 100%;
}
.button_div:hover .breadcrumbs_cover {
    opacity: 0.1;
}
.button_div:hover .arrow_1 {
    animation-play-state: running;
}

#button_icon {
    width: 10%;
    transform: scale(1.5) translate3d(24px, 7px, 17px);
    background-color: rgb(144, 182, 74);
    border-radius: 100%;
    padding: 4px;
}
#button_text {
    width: 80%; 
    float: left;

    margin-top: 4%;
    margin-bottom: 4%;

    padding-top: 2%;
    padding-bottom: 2%;

    color: #cbd2d6;
    text-shadow: 2px 2px 4px #000000;
    background: linear-gradient(90deg, rgba(91,91,91,1) 0%, rgba(139,138,134,1) 46%, rgba(149,149,148,1) 100%);/* base: rgb(139, 138, 134); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px;
}
.breadcrumbs_cover { transition: .2s; --ifm-breadcrumb-size-multiplier: 2.3; }

.button_overlay_div {
    
    white-space: nowrap; 
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    pointer-events:none;
}
.button_overlay_icon {
    width: 96px;
    float: right; 
    position: absolute;
    transform: translate(191px, -105px);
    display: inline-flex;
}
.buttons_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
    pointer-events:none;
    border-radius: 2rem;
}


/* arrow looping inspired by (https://jsfiddle.net/kxo7g714/)*/
.arrow_div {
    opacity: 0.2;
    transform: translateX(-50px);
}

.arrow_1 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(150px, 0);  
    animation: slide 4s linear infinite ;
    animation-play-state: paused;
}
.arrow_1.arrow_2 {
    animation-delay: -2s;
}

@keyframes slide {
    from {
        transform: translate(-300px, 0);
    }
    to {
        transform: translate(300px, 0);
    }
}

@media screen and (min-width: 997px) and (max-width: 1439px), screen and (min-width: 551px) and (max-width: 767px) {
.breadcrumbs_cover { --ifm-breadcrumb-size-multiplier: 2.0; }
.button_overlay_div {
    transform: translate(-50%, -40%) !important;
    -ms-transform: translate(-50%, -40%) !important;
    font-size: 40px !important;
}
.button_overlay_icon {
    transform: translate(155px, -96px) !important;
    width: 80px !important;
}

}
@media screen and (min-width: 997px) and (max-width: 1028px) {
    #button_icon { transform: scale(1.5) translate3d(7px, 7px, 17px) !important; }
}
@media screen and (min-width: 442px) and (max-width: 550px) {
    .breadcrumbs_cover { --ifm-breadcrumb-size-multiplier: 1.5; }
    .button_overlay_div {
        transform: translate(-50%, -35%) !important;
        -ms-transform: translate(-50%, -35%) !important;
        font-size: 35px !important;
    }
    .button_overlay_icon {
        transform: translate(126px, -80px) !important;
        width: 70px !important;
    }
    .arrow_div {
        transform: scale(0.7) translateX(-100px);
    }
}
@media screen and (min-width: 361px) and (max-width: 441px) {
    #button_icon { transform: scale(1.5) translate3d(3px, 4px, 17px) !important; }
    .breadcrumbs_cover { --ifm-breadcrumb-size-multiplier: 1; }
    .button_overlay_div {
        transform: translate(-50%, -30%) !important;
        -ms-transform: translate(-50%, -30%) !important;
        font-size: 25px !important;
    }
    .button_overlay_icon {
        transform: translate(99px, -65px) !important;
        width: 50px !important;
    }
    .arrow_div {
        transform: scale(0.6) translateX(-100px);
    }
} 
@media screen and (max-width: 360px) {
    #button_icon { transform: scale(1.5) translate3d(5px, 3px, 17px) !important; }
    .breadcrumbs_cover { --ifm-breadcrumb-size-multiplier: 1; }
    .button_overlay_div {
        transform: translate(-60%, -30%) !important;
        -ms-transform: translate(-60%, -30%) !important;
        font-size: 20px !important;
    }
    .button_overlay_icon {
        transform: translate(74px, -60px) !important;
        width: 40px !important;
    }
    .arrow_div {
        transform: scale(0.5) translateX(-100px);
    }
} 

@media screen and (max-width: 997px) {
    .contents_column {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}
@media screen and (min-width: 942px) and (max-width: 997px) {
    .arrow_div {
        transform: scale(1.2);
    }
}
    
.button_overlay_text_support {
    color: #FF5E5B;
    text-shadow: 2px 2px 4px #832f2d;
}

.button_overlay_text_getstart {
    color: var(--ifm-color-primary);
    text-shadow: 2px 2px 4px #000000;
}

html[data-theme='dark'] .button_overlay_text_support {
    text-shadow: 2px 2px 4px #5c2120;
}
html[data-theme='light'] .button_overlay_text_getstart {
    text-shadow: 2px 2px 4px #6ea854;
}