#displayer {
    display: contents;
}

#youtube_displayer {
    position: relative;
}

#youtube_header_blocker {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: absolute;
    pointer-events: all;
}
@media screen and (max-width: 521px) {
    #youtube_iframe {
        max-height: 50vw;
    }
}
