

/*#region discord invite button */

.invite_button {
    background-color: #5865F2; /* Discord's old blurplue */
    width: 100%;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

.cover_table {
    display: table-caption;
    background-color: #23272a;
    border-radius: 4px;
}

.invite_button:hover {
    background-color: #4b57d6;
}

.invite_table { 
    padding: 0px;
    background-color: #5865F2;
    border-radius: 4px;
    border-color: #23272a;
    transition: 0.3s; 
}
.invite_table:hover {
    background-color: #4b57d6;
}

/* add some cool shadow for light themer */
html[data-theme='light'] .cover_table {
    box-shadow: 5px 2px 11px 0px;
}


/* Incase there's actually <350px width screen */
@media screen and (max-width: 350px) {
    #wrap {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 150%; 
    }
    
    #scaled_element {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
    }
        
    .cover_table {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
/*#endregion */